<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<title>VueJS Tutorial</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
	        <div class="container">
	            <a class="navbar-brand" href="#">Logo and Company Name</a>
	            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	              <span class="navbar-toggler-icon"></span>
	            </button>
	      
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	          <ul class="navbar-nav ml-auto">
	              <li class="nav-item active">
	                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	              </li>
	              <li class="nav-item">
	                      <a class="nav-link" href="#">About Us </a>
	              </li>
	          </ul>
	            <button class="btn btn-outline-info" type="submit">Sign Up</button>
	        </div>
	        </div>
	    </nav>	
	</header>
	<main>
		<div class="jumbotron" style="background-image: url('img/1.jpg');color:black;;    background-repeat: no-repeat; background-position: center; background-size: cover; min-height: 100%">
            <div class="container" id="vue-app">
            	<row>
            		<column md="4">
	            		<input type="text" v-model="name"/> <br>           		            	
	            		<input type="text" v-model="address"/> <br>           		
	            		<input type="text" v-model="phone"/> <br>
	            		<input type="text" v-model="email"/> <br>
            		</column>
            		<column md="8">
	            		<span>{{ name }}</span> <br>
	            		<span>{{ address }}</span> <br>
	            		<span>{{ phone }}</span> <br>
	            		<span>{{ email }}</span> <br>
	            	</column>
            	</row>
            </div>
    	</div>
	</main>


	<script type="text/javascript" src="app.js"></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</body>
</html>