.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.audio {
    flex: 1;
    padding: 30px;
}

#progress-bar {
    width: 100%;
}

.controls {
    display: flex;
    justify-content: center;
}

.video {
    flex: 3;
}

video {
    width: 100% !important;
    height: auto !important;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}