
/* GLOBAL */
body
{
	border-top:5px solid #e56038;
	background:#ebe8de;
	font-family: 'Open Sans', sans-serif;
	color:#333333;
}

p
{
	margin:5px 0;
	line-height:25px;
}

a
{
	text-decoration:none;
	color:inherit;
	transition: color .5s ease;
}
strong
{
	font-weight:bold;
}

figcaption strong
{
	border-bottom: 1px solid #D6D0C1;
	padding-bottom:10px;
	margin: 10px 0;
	display:block;
}

figcaption
{
	line-height: 25px;
	font-size:14px;
	width:200px;
}

hr
{
	background-color: #D6D0C1;
	border:0;
	height:1px;
	margin:20px 0;
}

/* HEADER */

header
{
	position:relative;
	width:auto;
	max-width:900px;
	margin: 0 auto 20px auto;
}

header h1
{
	margin:35px 0 0 0;
	font-size:55px;
	color:#e56038;
	font-family: 'Baumans', cursive;
}

header p
{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	color: #4A463B;
	margin-left:132px;
}

nav
{
	position:absolute;
	right:0;
	bottom:0;
}

nav ul
{
	list-style:none;
}

nav ul li
{
	display:block;
	float:left;
	padding:3px 15px;
}

nav ul li a
{
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	transition: all .25s ease;
}

nav ul li a:hover
{
	color:#E56038;
}


/* FOUR COLUMNS */

#four_columns, #text_columns
{
	line-height:25px;
	font-family: 'Open Sans', sans-serif;
	clear:both;
	width:auto;
	max-width:900px;
	margin:0 auto;
}

#four_columns h2, #text_columns h3
{
	font-size:20px;
	border-bottom: 1px solid #D6D0C1;
	padding: 20px 0;
	margin-bottom: 20px;
}

#four_columns .img-item
{
	float:left;
	margin-right:25px;
}

#four_columns .img-item a
{
	position:relative;
	display:block;
}

/* FOOTER */
footer
{
	position:relative;
	clear:both;
	width:auto;
	height:150px;
	background:#333333;
}

/*IMG*/
img
{
	height:200px;
	width:200px;
}



/* NAV */
/* .clear
{
	clear:both;
} */

.topnav {
  overflow: hidden;
  background-color: #c3532e;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #EDA28C;
  color: black;
}

.topnav a.active {
  background-color: #EDA28C;
  color: white;
}


/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */

@media (max-width: 1215px)
{
	#slider_content1, #slider_content2, #slider_content3
	{
		width:auto;
		margin-right:50px;
	}
	#slider_content1 h2, #slider_content2 h2, #slider_content3 h2
	{
		font-size:18px;
	}
	#slider_content1 p, #slider_content2 p, #slider_content3 p
	{
		font-size:14px;
	}
	#slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p  .responsive_button
	{
		display:inline;
	}
	
}

@media (max-width: 915px)
{
	#boxcontent article
	{
		float: none;
		margin: 30px auto 0 auto;
		width: 60%;
	}
	#spacer
	{
		font-size:15px;
	}
	#spacer .search
	{
		margin-top:19px;
		margin-right:-385px;
	}
	#spacer p
	{
		margin-left:-370px;
	}
	
	#four_columns
	{
		width: 500px;
	}
	#four_columns .img-item:nth-of-type(3), #four_columns .img-item:nth-of-type(4)
	{
		margin-top: 25px;
	}
	#text_columns article.column1, #text_columns .column2
	{
		float:none;
		max-width: 500px;
		margin: 50px 30px 0 30px;
	}
	.column2 .row
	{
		float:none;
		margin:0 0 40px 50px;
	}
	footer .wrapper .column
	{
		font-size: 12px;
		width: 230px;
	}
}

@media (max-width: 765px)
{
	.container
	{
		height:1px;
		top: -1500px;
	}
	header
	{
		height:120px;
	}
	header nav
	{
		right: auto;
		bottom: auto;
		left: 50%;
		top:100px;
		margin-left: -184px;
	}
	
	footer
	{
		padding-bottom:70px;
		height: auto;
		color:#f2f2f2;
	}
	footer .wrapper
	{
		width: 350px;
		margin: 0 auto;
	}
	footer .wrapper .column
	{
		margin-top:30px;
		float:none;
		font-size: 14px;
		width: auto;
	}
	footer .wrapper .social
	{
		display:none;
	}
}

@media (max-width: 500px)
{
	header
	{
	    margin-top: 80px;
	    text-align: center;
	}        
	#spacer
	{
		height:auto;
		padding-bottom:15px;
	}
	#four_columns
	{
		width:auto;
	}
	#four_columns .img-item
	{
		width: 200px;
		float:none;
		margin: 25px auto 0 auto;
	}
	#four_columns h2
	{
		margin: 0 30px;
	}
	.column2 .row
	{
		margin: 0 0 40px 10px;
		width:auto;
	}
	footer .wrapper
	{
		width:auto;
	}
	footer .wrapper .column
	{
		margin: 0 auto 15px auto;
		max-width:300px;
	}

	header nav
	{
		display:none;
	}
	header h1
	{
		font-size:40px;
	}
	header p
	{
		margin-left: 60px;
		font-size:14px;
	}
}
