
/* GLOBAL */
body
{
	border-top:5px solid #e56038;
	background:#ebe8de;
	font-family: 'Open Sans', sans-serif;
	color:#333333;
}

p
{
	margin:5px 0;
	line-height:25px;
}

a
{
	text-decoration:none;
	color:inherit;
	transition: color .5s ease;
}
strong
{
	font-weight:bold;
}

figcaption strong
{
	border-bottom: 1px solid #D6D0C1;
	padding-bottom:10px;
	margin: 10px 0;
	display:block;
}

figcaption
{
	line-height: 25px;
	font-size:14px;
	width:200px;
}

hr
{
	background-color: #D6D0C1;
	border:0;
	height:1px;
	margin:20px 0;
}

/* HEADER */

header
{
	position:relative;
	width:auto;
	max-width:900px;
	margin: 0 auto 20px auto;
}

header h1
{
	margin:35px 0 0 0;
	font-size:55px;
	color:#e56038;
	font-family: 'Baumans', cursive;
}

header p
{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	color: #4A463B;
	margin-left:132px;
}


/* FOUR COLUMNS */

#four_columns
{
	line-height:25px;
	font-family: 'Open Sans', sans-serif;
	clear:both;
	width:auto;
	max-width:900px;
	margin:0 auto;
}

#four_columns .img-item
{
	float:left;
	margin-right:25px;
}

/* FOOTER */
footer
{
	position:relative;
	clear:both;
	width:auto;
	height:50px;
	background:#333333;
}

/*IMG*/
img
{
	height:200px;
	width:200px;
}
/* NAV */
.clear
{
	clear:both;
}
/* navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav .icon {
  display: none;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #EDA28C;
  color: black;
}

.topnav a.active {
  background-color: #EDA28C;
  color: white;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */


@media (max-width: 915px)
{
	
	
	#four_columns
	{
		width: 500px;
	}
	#four_columns .img-item:nth-of-type(3), #four_columns .img-item:nth-of-type(4)
	{
		margin-top: 25px;
	}
	#text_columns article.column1, #text_columns .column2
	{
		float:none;
		max-width: 500px;
		margin: 50px 30px 0 30px;
	}
	.column2 .row
	{
		float:none;
		margin:0 0 40px 50px;
	}
	footer 
	{
		font-size: 12px;
		width: 230px;
	}
}


@media (max-width: 500px)
{
	header
	{
	    margin-top: 80px;
	    text-align: center;
	}        
	#spacer
	{
		height:auto;
		padding-bottom:15px;
	}
	#four_columns
	{
		width:auto;
	}
	#four_columns .img-item
	{
		width: 200px;
		float:none;
		margin: 25px auto 0 auto;
	}
	#four_columns h2
	{
		margin: 0 30px;
	}
	.column2 .row
	{
		margin: 0 0 40px 10px;
		width:auto;
	}
	footer .wrapper
	{
		width:auto;
	}
	footer .wrapper .column
	{
		margin: 0 auto 15px auto;
		max-width:300px;
	}

	header nav
	{
		display:none;
	}
	header h1
	{
		font-size:40px;
	}
	header p
	{
		margin-left: 60px;
		font-size:14px;
	}
}
