.image-section-parent {
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.image-section{
    width: 100%;
    height: 100%;
    background-image: url('./bork_triggered.png');
    background-color: black;
    background-position: center;
    background-size: cover;
    transition: all .5s;
}

.image-section-parent:hover .image-section,
.image-section-parent:focus .image-section {
  transform: scale(2);
}